@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 188px 52px;
    align-items: center;
}
.heading__1{
    font: 400 36px/1 Roboto;
    margin: 190px 495px 69px 496px;
    text-align: center;
}
.advantages__icon1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(33, 247, 236, 1);
    margin-bottom: 26px;
    display: inline-block;
    align-items: center ;
}
.advantages__icon2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(51, 211, 188, 1);
    margin-bottom: 26px;
    display: inline-block;
    align-items: center ;
}
.advantages__icon3{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(24, 165, 198, 1);
    margin-bottom: 26px;
    display: inline-block;
    align-items: center ;
}
.advantages__icon4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(211, 143, 98, 1);
    margin-bottom: 26px;
    display: inline-block;
    align-items: center ;
}
.advantages__icon5 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(249, 76, 67, 1);
    margin-bottom: 26px;
    display: inline-block;
    align-items: center ;
}
.advantages__icon6 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(211, 153, 255, 1);
    margin-bottom: 26px;
    display: inline-block;
    align-items: center ;
}
.advantages__text{
    font: 700 30px/1 Roboto
}
.advantages__item{
    width: 339px;
    padding: 0 96px;
    text-align: center;
    margin-bottom: 110px;
    margin-left: 24px;
    display: inline-block;
}
.advantages{
 list-style: none;
}
.heading2{
    font: 700 36px/1 Roboto;
    margin: 0 368px 102px 367px;
    text-align: center;
}
.persons__item{
    display: inline-block;
    width: 288px;
    margin-right: 100px;
    align-items: center;
    text-align: center;
}
.persons__img{
    width: 288px;
    margin-bottom: 35px;
}
.persons__quote{
    font: 700 22px/1 Roboto;
    display: inline-block;
    margin-bottom: 40px;
}
.persons__name{
    font: 400 19px/1 Roboto;
    display: block;
    margin-bottom: 44px;

}
.persons__link{
    font: 700 18px/1 Roboto;
    text-decoration: underline;
}


